{% extends 'base.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="static/about.css">
{% endblock %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container ">
    <div style="height:5px"></div>
    <div class="waviy1"><p>
      <span style="--i:1">A</span>
      <span style="--i:2">b</span>
      <span style="--i:3">o</span>
      <span style="--i:4">u</span>
      <span style="--i:5">t</span>
      <span style="--i:6"> </span>
      <span style="--i:6"> </span>
      <span style="--i:6"> </span>
      <span style="--i:7">U</span>
      <span style="--i:8">s</span></p>
     </div>
       <hr>

    <p class="lead">
        <br>
        Greetings, esteemed audience!<br>
<br>
<p class="reveal">
  Find My Bus help us find the best routes to your destination. We can simply select our routes from the list of routes 
  from the drop down menu, and we will provide you with a list of possible bus routes to take. 
  <br>
<br></p>
<p class="reveal">
One of the hallmarks of Find My Bus is its user-friendly 
interface. The website is designed with simplicity and intuitiveness 
in mind, making it easy for users to navigate and track their buses. 
Whether you are an experienced commuter or a first-time user, you will 
find the website effortless to use.<br>
<br></p>


<p class="reveal">
  In conclusion, Find My Bus is a valuable tool that can help us navigate our city with ease. 
  It provides us with real-time bus information and helps us find the best routes to our destinations. 
  And, it makes public transportation more accessible to everyone. So, the next time you're planning 
  a journey, consider using Find My Bus. Your wallet (and your schedule) will thank you.


</p>
    <hr>
    <h2 class="animate-charcter mt-3">The Motivation Behind FindMyBus</h2>
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-4 mt-3">

            <div class="card h-100">
                <img class="card-img-top" src="static/team.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title animate-charcter">A Passion Project</h4>
                    <p class="card-text"> Keeping in mind the significance of bus transportation in our city, Kolkata, the idea to make this project came to mind. The motivation was to improve transportation and make bus commute for the residents of Kolkata stress-free. Amidst the hundreds of bus daily running on the streets, it is indeed very confusing to know which bus number goes to where. However, it is a hope that this project will help people to find their buses easily, and bring a change in the way we navigate public transportation. FindMyBus hopes to take your commuting experience to the next level.</p>
                </div>
            </div>
          </div>

{% endblock %}