{% extends 'base.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="static/home.css">
{% endblock %}

{% block title %}
    FindMyBus-Home
{% endblock %}

{% block content %}

<div class="container">
  <h1 class=" fst-italic fw-normal text-center mt-0  mb-2 animate__heartBeat heading" style="@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Roboto:ital,wght@1,100&display=swap');"> Find My Bus</h1>

  <div class="reveal">
     {% include 'image_slides.html' %}
  </div>
  <div class="reveal">
    

  <div class="card mt-4">
    <div class="waviy text-center mt-2 mb-0">
     <p>
        <span style="--i:0"><i class="bi bi-search"></i></span>
        <span style="--i:6"> </span>
        <span style="--i:6"> </span>
        <span style="--i:1">S</span>
        <span style="--i:2">e</span>
        <span style="--i:3">a</span>
        <span style="--i:4">r</span>
        <span style="--i:5">c</span>
        <span style="--i:6">h</span>
        <span style="--i:7"> </span>
        <span style="--i:7"> </span>
        <span style="--i:8"> </span>
        <span style="--i:9">H</span>
        <span style="--i:10">e</span>
        <span style="--i:11">r</span>
        <span style="--i:12">e</span>
        <span style="--i:13">!</span>

      </p>
    </div>

    <hr>
  

    <section class="card-body d-flex flex-column align-items-center justify-content-center" id="search-section">
      <form method="POST" action="{{ url_for('search') }}" class="mx-auto">
        <div class="form-group">
      <h2>  <p class="text-center"><label for="routes" class="form-label">Select Your Route</label></p></h2>
        <p class="text-center"> <select class="form-control" name="routes" id="routes">
            {% for r in eachRoute %}
            <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
          </select></p>
        </div>
        <p class="text-center">
        <button type="submit" class="btn btn-dark mt-3 btn-lg">Search</button></p>
      </form>

      <!-- <div class="localities">
        <p class="lead">
          Can't find the desired route? Luckily, we have more options for you! <br> 
          Just choose one area from below, and you'll find all the buses covering that area.
        </p>
      </div> -->

   </section>
  </div>
  

  <div class="reveal">
     <div class="text-center mt-4 mb-4 ">
        <h2 class="track animate__heartBeat mt-4">Route Location </h2>
        <hr>
     </div>
     <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-6">
           <img src="static/map.jpg" class="img-fluid" style="height: 360px;
           width: 100%;
           object-fit: cover;
           margin-bottom: 16px;">
        </div>

        <div class="col-md-6">
           <p class="lead">
              Route Location allows you to see the real-time location of your bus stops
              on a map. Once you select your desired route from the dropdown, you will be able to see your bus informations like bus number, origin, destination, bus stops, bus fare. Along with a map!<br><br>

              That's correct, the map will display all of the location points the bus passes through. The blue location symbol represents the origin, the red one represents the destination, and the yellow ones represent the stops your bus makes.<br><br>

              Don't scroll yet, as there's more our map presents. Like your ETA, and the feature to click on the location symbols and see the location name and coordinates.<br><br>

              Search for a route, and experience it all for yourself!<br></p>
<p class="text-center"><a   href="#search-section" class="btn btn-success px-4 col-md-4 text-center space"> Search Now</a>
</p>
        </div>


        
     </div>
  </div>



  <div class="reveal">
     <div class="text-center mt-4 mb-4 ">
        <div class="track">
        <h2 class="animate__heartBeat ">CONVENIENCE ON-THE-GO.</h2></div>
        <hr>
     </div>
     <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-6">
           <img src="static/girl.jpg" class="img-fluid" style="height: 360px;
           width: 100%;
           object-fit: cover;
           margin-bottom: 16px;">
        </div>
        <div class="col-md-6">
           <p class="lead">
              Are you looking for a Bus ?<br>
              Aha! we got you covered <b>FindMyBus is the best place to find your Bus.</b><br>
              We can't promise to get your bus pick-up from your door steps, but we can help you to find your bus and get you to your destination. <br>
              Just select your route and we will do the rest for you. Hope you enjoy a hassle-free and stress-free commute!<br>
           </p>
        </div>

       

     </div>
  </div>
</div>
{% endblock %}

<script>
  ScrollReveal().reveal('.track', {
     delay: 500
  });
</script>